<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lpc.bolsadetreball">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/photo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/photo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inici"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LlistaOfertesActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DadesOfertaActivity"
            android:label="@string/title_activity_dades_oferta"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyAndroidFirebaseMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyAndroidFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".TabbedActivityOfertesTreball"
            android:label="@string/title_activity_tabbed_ofertes_treball"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>